[include fluidd.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command
[static_digital_output power]
pins: PD0
[stepper_x]
step_pin: PB9
dir_pin: !PC13
enable_pin: !PD7
rotation_distance: 40
microsteps: 16
endstop_pin: PE9
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 80

[stepper_y]
step_pin: PB8
dir_pin: PE6
enable_pin: !PD7
rotation_distance: 40
microsteps: 16
endstop_pin: PE10
position_min: 0
position_endstop: 265
position_max: 265
homing_speed: 80
homing_positive_dir: true

[stepper_z]
step_pin: PB7
dir_pin: PE5
enable_pin: !PD7
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop           #enable to use bltouch
#ndstop_pin: !PA15                #disable to use bltouch
#position_endstop: -0.1
position_min: -10
position_max: 305
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 2.0

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PB5
dir_pin: !PE3
enable_pin: !PD7
rotation_distance: 7.5
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PD14
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
#control: pid
#pid_kp: 29.535
#pid_ki: 2.344
#pid_kd: 93.037
min_temp: 0
max_temp: 305


[heater_bed]
heater_pin: PC10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp: 69.802
#pid_ki: 0.706
#pid_kd: 1724.975
min_temp: 0
max_temp: 110

[verify_heater extruder]
check_gain_time: 200
hysteresis: 5

[fan]
pin: PA2
kick_start_time: 0.5

[heater_fan nozzle_fan]
pin: PA3
heater: extruder
heater_temp: 50
max_power: 1
shutdown_speed : 0

[heater_fan extraction_fan]
pin: PC9
heater: extruder
heater_temp: 50
max_power: 1
shutdown_speed : 0

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: ^!PE14

[bltouch]
sensor_pin: ^PD13       #signal check port ^stand for pull up
control_pin: PD12       #singal control prot
x_offset: 19
y_offset: 43
#z_offset: 0          #z off_set configuration
speed: 20.0
stow_on_each_sample: false #high speed for bltoch,
samples: 1
#probe_with_touch_mode = true

[safe_z_home]
home_xy_position: 152, 132
speed: 240
z_hop: 5
z_hop_speed: 5

[bed_mesh]
speed: 150
mesh_min: 19,43         #need to handle head distance with bl_touch
mesh_max: 299,243       #max probe range
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[gcode_macro G29]
gcode:
  G28
  bed_mesh_calibrate
  G1 X0 Y0 Z10 F4200

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMPERATURE = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMPERATURE = params.EXTRUDER_TEMP|default(190)|float %}

    M220 S100 ;Reset Feedrate
    M221 S100 ;Reset Flowrate

    M140 S{BED_TEMPERATURE}       ; Start bed heating (don't wait)
    M104 S{EXTRUDER_TEMPERATURE}                      ; Preheat hotend to safe temp (no ooze)
    G28                            ; Home
    BED_MESH_PROFILE LOAD=default
    M190 S{BED_TEMPERATURE}        ; Wait for bed temp
    M109 S{EXTRUDER_TEMPERATURE} ; Wait for the hotend to head up

    G92 E0
    G1 Z2.0 F3000
    G1 X10.1 Y20 Z0.28 F5000.0
    G1 X10.1 Y145.0 Z0.28 F1500.0 E15
    G1 X10.4 Y145.0 Z0.28 F5000.0
    G1 X10.4 Y20 Z0.28 F1500.0 E30
    G92 E0
    G1 E-1.0000 F1800
    G1 Z2.0 F3000
    G1 E0.0000 F1800
[gcode_macro END_PRINT]
gcode:
  G91 ;Relative positionning
  G1 E-2 F2700 ;Retract a bit
  G1 E-2 Z0.2 F2400 ;Retract and raise Z
  G1 X5 Y5 F3000 ;Wipe out
  G1 Z10 ;Raise Z more
  G90 ;Absolute positionning

  G1 X0 Y0 ;Present print
  M106 S0 ;Turn-off fan
  M104 S0 ;Turn-off hotend
  M140 S0 ;Turn-off bed
#  M84 X Y E ;Disable all steppers but Z

[led enclosure_led]
white_pin: PC11
cycle_time: 0.010
initial_WHITE: 0.0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 10
max_z_accel: 1500
square_corner_velocity: 5.0


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.855
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.190000, -0.145000, -0.140000, -0.152500, -0.200000
#*# 	-0.172500, -0.122500, -0.092500, -0.105000, -0.130000
#*# 	-0.185000, -0.102500, -0.075000, -0.047500, -0.105000
#*# 	-0.195000, -0.125000, -0.097500, -0.100000, -0.042500
#*# 	-0.357500, -0.207500, -0.172500, -0.110000, -0.175000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 19.0
#*# max_x = 299.0
#*# min_y = 43.0
#*# max_y = 243.0
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 200.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 14.831
#*# pid_ki = 0.838
#*# pid_kd = 65.627
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 23.033
#*# pid_ki = 0.140
#*# pid_kd = 945.498
